<!DOCTYPE html>
<html>
<head>
  <title>Add Location</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Add Campus Location</h1>
<p><a href = "/">Home</a></p>
  <form action="/campus" method="POST">
    <input type="text" name="name" placeholder="Campus">
    <button type="submit">Save</button>
  </form>
</body>
</html>
